<html>
<head>
    <title>{{ subject }} {{ catalog_nbr }}</title>
</head>
<body>
    <h1>{{ subject }} {{ catalog_nbr }}</h1>
    <p>{{ descr }}</p>
    <ul>
        <li>Class Section: {{ class_section }}</li>
    </ul>
    <form method="POST">
        {% csrf_token %}
        <p>Would you like to add this class to your profile?</p>
        <button type="submit" name="add_class" value="Yes">Yes</button>
        <button type="submit" name="add_class" value="No">No</button>
    </form>
</body>
</html>