{% extends 'mainapp/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<html>
    <div class="jumbotron">
        <h1 class="display-4">
            {{ subject }} {{ catalog_nbr }}
        </h1>
    <p class="lead">{{ descr }}</p>
    <hr class="my-4">

    <p><h2>Tutors for {{ subject }} {{ catalog_nbr }}</h2></p>
    <ul class="list-group">
    {% for tutor in tutors %}
        <a href="{% url 'tutor-profile' tutor_id=tutor.id %}" class="list-group-item list-group-item-action" > {{tutor}}</a>
    {% endfor %}
    </ul>
    {% if can_add_class %}
        <form method="POST" action="{% url 'add-class' %}">
            {% csrf_token %}
            <button class="btn btn-info" type="submit" name="add_class" value="{{subject}} {{catalog_nbr}}">Add This Class to Your Profile</button>
        </form>
    {% else %}
        <p>This class is already in your profile.</p>
        <form method="POST" action="{% url 'remove_class' %}">
            {% csrf_token %}
            <button class="btn btn-info" type="submit" name="remove_class" value="{{subject}} {{catalog_nbr}}">Remove This Class From Your Profile</button>
        </form>
    {% endif %}
    </div>
</div>
</html>
{% endblock %}