{% extends 'mainapp/base.html' %}
{% load static %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% load i18n %}
{% load account socialaccount %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<!-- <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/math.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/rotunda.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/tutoringex.jpg' %}" class="d-block w-100" alt="...">
    </div> -->
{% block content %}
    {% if user.is_authenticated %}
        {% for profile in Profiles %}
            {% if profile.user.email|stringformat:"s" == user.email|stringformat:"s" %}
                {% if profile.is_tutor %}
                    
                    <body>
                        <center><h1>Welcome, Tutor {{ user.username }}</h1></center>
                    </body>
                    <form method="GET" action="{% url 'search_classes' %}">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                <input type="search" placeholder="Search for a class by its name e.g. advanced software development, poetry writing, etc." aria-describedby="button-addon1" class="form-control border-0 bg-light" name="q" id="search-input">
                                <input type="hidden" name="descr" value="">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <script>
                    document.getElementById("search-input").addEventListener("keydown", function(event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            var form = event.target.form;
                            form.querySelector("input[name='descr']").value = event.target.value;
                            form.submit();
                        }
                    });
                    </script>
                    <!-- <a href="search_classes">View all Classes</a>
                    <a href="{% url 'myCourses' %}">My Classes</a>
                    <a href="{% url 'myStudents' %}">My Students</a> -->
                    <div id="carouselExampleDark" class="carousel carousel-dark slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{% static 'images/math.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Tutors for All Subjects</h5>
                              <p>From Math to German, we match tutors for a wide range of classes</p>
                            </div>
                          </div>
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'images/uva.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Connect with UVA Students</h5>
                              <p>Tutorlink pairs students across grounds for pleasant tutoring experiences</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/tutoringex.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Conveneint Scheduling</h5>
                              <p>Find a time that works for you with our easy to use scheduling tools</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <div class="card">
                        <div class="card-body">
                        <h1>Your Courses</h1>
                        {% if profile.classes.all %}
                        <ul class="list-group">
                        {% for name in profile.classes.all %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'expand_class' course_id=name.id %}">{{ name.subject }} {{name.catalog_nbr}}
                          <span class="badge badge-primary badge-pill">{{name.tutors.count}}</span>
                        </a>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <p>No classes yet!</p>
                        {% endif %}
                            <a href="search_classes" class="btn btn-info" role="button">Add Classes</a>
                            
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-body">
                            <h1>Upcoming Tutoring Sessions</h1>
                            {% if profile.accepted_list.all %}
                            {% for accept in profile.accepted_list.all %}
                            {% for sesh in profile.schedule_list.all %}
                            {% if sesh.student == accept %}
                            <li>{{accept}} on {{sesh.date}} at {{sesh.time}}</li>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% else %}
                            <p>You have no scheduled sessions</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-body">
                            <h1>Your Student Requests</h1>
                            {% if profile.connected_list.all %}
                            <form action="{% url 'accept-student' %}" method="POST">
                                {% csrf_token %}
                                {% for student in profile.connected_list.all %}
                                {% for sesh in profile.schedule_list.all %}
                                {% if sesh.student == student %}
                                <div>
                                    <input name="sesh" type="checkbox" value="{{sesh.id}}">
                                    <label>{{student}} {{sesh.date}} {{sesh.time}}</label>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                <br>
                                <button class="btn btn-info"type="submit">Accept Selected Students</button>
                            </form>
                            {% else %}
                            <p>You have no pending requests</p>
                            {% endif %}
                        </div>
                    </div>
                    {% elif profile.is_student %}
                    <center><h1>Welcome, Student {{ user.username }}</h1></center>
                    <form method="GET" action="{% url 'search_classes' %}">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                <input type="search" placeholder="Search for a class by its name e.g. advanced software development, poetry writing, etc." aria-describedby="button-addon1" class="form-control border-0 bg-light" name="q" id="search-input">
                                <input type="hidden" name="descr" value="">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <script>
                    document.getElementById("search-input").addEventListener("keydown", function(event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            var form = event.target.form;
                            form.querySelector("input[name='descr']").value = event.target.value;
                            form.submit();
                        }
                    });
                    </script>
                        <!-- <a href="search_classes">View all Classes</a>
                        <a href="{% url 'myCourses' %}">My Classes</a>
                        <a href="{% url 'studentTutorsList' %}">My Tutors</a>
                        <a href="{% url 'tutorList' %}">Tutor Search</a> -->
                        
                        <div id="carouselExampleDark" class="carousel carousel-dark slide">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="10000">
                                <img src="{% static 'images/math.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5>Tutors for All Subjects</h5>
                                  <p>From Math to German, we match tutors for a wide range of classes</p>
                                </div>
                              </div>
                              <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'images/uva.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5>Connect with UVA Students</h5>
                                  <p>Tutorlink pairs students across grounds for pleasant tutoing experiences</p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="{% static 'images/tutoringex.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5>Conveneint Scheduling</h5>
                                  <p>Find a time that works for you with our easy to use scheduling tools</p>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                          <div class="card">
                            <div class="card-body">
                            <h1>Your Courses</h1>
                            {% if profile.classes.all %}
                            <ul class="list-group">
                            {% for name in profile.classes.all %}
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'expand_class' course_id=name.id %}">{{ name.subject }} {{name.catalog_nbr}}
                            <span class="badge badge-primary badge-pill">{{name.tutors.count}}</span>
                            </a>
                            {% endfor %}
                            </ul>
                            {% else %}
                            <p>No classes yet!</p>
                            {% endif %}
                            <a href="search_classes" class="btn btn-info" role="button">Add Classes</a>
                            </div>
                            </div>
                            <br>
                        <div class="card">
                            <div class="card-body">    
                            <h1>Upcoming Tutoring Sessions</h1>
                            {% if profile.accepted_list.all %}
                            <ul class="list-group">
                            {% for accept in profile.accepted_list.all %}
                            {% for sesh in profile.schedule_list.all %}
                            {% if sesh.tutor == accept %}
                            <a class="list-group-item list-group-item-action" href = "{% url 'review' sesh_id=sesh.id %}">{{accept}} on {{sesh.date}} at {{sesh.time}} </a>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            </ul>
                            {% else %}
                            <p>You have no scheduled sessions</p>
                            {% endif %}
                            <a href="{% url 'tutorList' %}" class="btn btn-info" role="button">Find Tutors</a>
                            </div>
                            </div>
                        <div class="card">
                            <div class="card-body">
                            <h1>Your Tutor Requests</h1>
                            {% if profile.connected_list.all %}
                            {% for tutor in profile.connected_list.all %}
                            {% for sesh in profile.schedule_list.all %}
                            {% if sesh.tutor == tutor %}
                            <li>{{tutor}} on {{sesh.date}} at {{sesh.time}}</li>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% else %}
                            <p>You have no pending requests</p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <center><p>Welcome, {{ user.username }}. Please use the buttons below to indicate whether you are a tutor or student.</p></center>
                    <form method="POST" action="{% url 'apply-type' %}">
                        {% csrf_token %}
                        <center><button class="btn btn-info" name="tutorbtn" type="submit">I am a Tutor</button></center>
                        <center><button class="btn btn-info" name="studentbtn" type="submit">I am a Student</button></center>
                    </form>
                    <div id="carouselExampleDark" class="carousel carousel-dark slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{% static 'images/math.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Tutors for All Subjects</h5>
                              <p>From Math to German, we match tutors for a wide range of classes</p>
                            </div>
                          </div>
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'images/uva.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Connect with UVA Students</h5>
                              <p>Tutorlink pairs students across grounds for pleasant tutoing experiences</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/tutoringex.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Conveneint Scheduling</h5>
                              <p>Find a time that works for you with our easy to use scheduling tools</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                {% endif %}
                
            {% endif %}
        {% endfor %}
        
        <!-- <p><center><a href="search_classes">Search Classes</a></center></p>
        <p><center><a href="myProfile">My Profile</a></center></p> -->
    {% else %}
        <p><center>Welcome to TutorLink! Please login using the button below.</center></p>
        <div class="text-center">
          <a class="btn btn-primary btn-lg" role="button"
             href=" {% provider_login_url 'google' %}"
             >Login with Google</a>
            </div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{% static 'images/math.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Tutors for All Subjects</h5>
                      <p>From Math to German, we match tutors for a wide range of classes</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'images/uva.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Connect with UVA Students</h5>
                      <p>Tutorlink pairs students across grounds for pleasant tutoing experiences</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'images/tutoringex.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Conveneint Scheduling</h5>
                      <p>Find a time that works for you with our easy to use scheduling tools</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        {% endif %}
{% endblock %}






