{% load static %}
{% load socialaccount %}

<html>
    <head>
        <title> Tutor Me </title>
    </head>
    <body>
    <h1><center>Tutor Me</center></h1>
    {% if user.is_tutor %}
        Bruce is Tutor
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.is_tutor %}
            <center><p>Welcome, Tutor {{ user.username }}</p></center>
        {% elif user.is_student %}
            <center><p>Welcome, Student {{ user.username }}</p></center>
        {% else %}
            <center><p>Welcome, {{ user.username }}. Please use the buttons below to indicate whether you are a tutor or student.</p></center>
            <form method="POST" action="{% url 'apply-type' %}">
                {% csrf_token %}
                <center><button class= "btn btn-info" name="tutorbtn" type="submit".>I am a Tutor</button></center>
                <center><button class= "btn btn-info" name="studentbtn" type="submit">I am a Student</button></center>
            </form>
        {% endif %}
        <center><a href="accounts/logout/" class="btn btn-primary stretched-link">Logout</a></center>
    {% else %}
        <p><center>Welcome to TutorLink! Please login using the button below.</center></p>
        <center><a href="accounts/login/" class="btn btn-primary stretched-link">Login</a></center>
    {% endif %}
    </body>
</html>
