{% extends 'mainapp/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<h1>Your Pending Requests</h1>

{% for request in requests %}
    {% for sesh in seshs %}
        {% if sesh.tutor == request %}
        <li>{{request}} {{sesh.date}} {{sesh.time}}</li>
        {% endif %}
    {% endfor %}
{% endfor %}
<h1>Your Tutors</h1>

{% for tutor in tutors %}
    {% for sesh in seshs %}
        {% if sesh.tutor == tutor %}
            <li>{{tutor}} {{sesh.date}} {{sesh.time}}</li>
            {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}