{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

Review for {{tutor}}

This is the Sesh: {{sesh.date}}

<form method="POST" action="{% url 'update_rating' %}">
    {% csrf_token %}
    <input type="hidden" name="tutor" value="{{ tutor.user.id }}">
    <input type="hidden" name="sesh" value="{{ sesh.id }}">
    <div class="form-group">
        <label for="rating">Rating:</label>
        <div class="star-rating">
            <input id="star-5" type="radio" name="rating" value="5">
            <label for="star-5" title="5 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-4" type="radio" name="rating" value="4">
            <label for="star-4" title="4 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-3" type="radio" name="rating" value="3">
            <label for="star-3" title="3 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-2" type="radio" name="rating" value="2">
            <label for="star-2" title="2 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-1" type="radio" name="rating" value="1">
            <label for="star-1" title="1 star">
                <i class="active fa fa-star"></i>
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
