{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="mb-4 list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Review for {{tutor}}
                <span class="badge badge-primary badge-pill">{{sesh.date}}</span>
            </h2>

            <p class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Session Date:
                <span class="badge badge-primary badge-pill">{{sesh.date}} at {{sesh.time}}</span>
            </p>

            {% if not is_upcoming %}
            <form method="post" action="{% url 'review' %}">
                {% csrf_token %}
                <input type="hidden" name="tutor" value="{{tutor.id}}">
                <input type="hidden" name="sesh" value="{{sesh.id}}">
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <div class="star-rating">
                        <span class="text-muted mr-3">1</span>
                        <input id="star-1" type="radio" name="rating" value="1">
                        <label for="star-1" title="1 star">
                            <i class="active fa fa-star"></i>
                        </label>
                        <input id="star-2" type="radio" name="rating" value="2">
                        <label for="star-2" title="2 stars">
                            <i class="active fa fa-star"></i>
                        </label>
                        <input id="star-3" type="radio" name="rating" value="3">
                        <label for="star-3" title="3 stars">
                            <i class="active fa fa-star"></i>
                        </label>
                        <input id="star-4" type="radio" name="rating" value="4">
                        <label for="star-4" title="4 stars">
                            <i class="active fa fa-star"></i>
                        </label>
                        <input id="star-5" type="radio" name="rating" value="5">
                        <label for="star-5" title="5 stars">
                            <i class="active fa fa-star"></i>
                        </label>
                        <span class="text-muted ml-3">5</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
            {% else %}
            <p class="text-muted">This session is upcoming. Check back afterwards to submit a review!</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
