{% load socialaccount %}
<html>
<body>
<h1>Student Login </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="index">Go to Login</a>
{% endif %}
</body>
<a href="departments">View all Classes</a>
<a href="">My Tutors</a>
<a href="{% url 'tutorList' %}">Tutor Search</a>
<center><a href="accounts/logout/" class="btn btn-primary stretched-link">Logout</a></center>
<center><a href="{% url 'index' %}" class="btn btn-primary stretched-link">Main Page</a></center>
<center><a href="changerole/" class="btn btn-primary stretched-link">Change Role</a></center>
</html>