{% extends 'mainapp/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<h1>Tutor List</h1>
<form action="{% url 'tutorSearch' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
</form>

<form action="{% url 'add-tutor' %}" method="POST">
    {% csrf_token %}
    {% for tutor in object_list %}
        <input name="tutor" type="checkbox" value="{{tutor.id}}">{{tutor.user.username}}</input>
    {% endfor %}
    <br>
    <button type="submit">Request Selected Tutors</button>
</form>
{% endblock %}