<style type="text/css">
  @media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}
 
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
  }
}
</style>
{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{% static 'images/profile.jpg' %}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{tutor.user.username}}</h5>
              <p class="text-muted mb-1">Rating: {{tutor.rating}}</p>
              </div>
            </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Tutor Bio</h5>
              {% if tutor.bio %}
              <p>{{ tutor.bio }}</p>
              {% else %}
              <p class="card-text">No bio available</p>
              {% endif %}
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{tutor.user.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{tutor.user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{tutor.phone_number}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Hourly Rate</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{tutor.hourly_rate}}</p>
                </div>
              </div>
              <hr>
                <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Classes:</p>
                    {% for name in tutor.classes.all %}
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'expand_class' course_id=name.id %}">{{ name.subject }} {{name.catalog_nbr}}
                      <span class="badge badge-primary badge-pill">{{name.tutors.count}}</span>
                      </a>
                {% endfor %}
                
                </div>
            </div>
                    <hr>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Day</th>
                          <th scope="col">Availability</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Monday</th>
                          {% if tutor.monday %}
                          <td>{{tutor.mon_avail_start}} to {{tutor.mon_avail_end}}</td>
                          {% else %}
                          <td>Unavailable</td>
                          {% endif %}
                        </tr>
                        <tr>
                          <th scope="row">Tuesday</th>
                          {% if tutor.tuesday %}
                          <td>{{tutor.tue_avail_start}} to {{tutor.tue_avail_end}}</td>
                          {% else %}
                          <td>Unavailable</td>
                          {% endif %}
                        </tr>
                        <tr>
                          <th scope="row">Wednesday</th>
                          {% if tutor.wednesday %}
                          <td>{{tutor.wed_avail_start}} to {{tutor.wed_avail_end}}</td>
                          {% else %}
                          <td>Unavailable</td>
                          {% endif %}
                        </tr>
                        <tr>
                          <th scope="row">Thursday</th>
                          {% if tutor.thursday %}
                          <td>{{tutor.thu_avail_start}} to {{tutor.thu_avail_end}}</td>
                          {% else %}
                          <td>Unavailable</td>
                          {% endif %}
                        </tr>
                        <tr>
                          <th scope="row">Friday</th>
                          {% if tutor.friday %}
                          <td>{{tutor.fri_avail_start}} to {{tutor.fri_avail_end}}</td>
                          {% else %}
                          <td>Unavailable</td>
                          {% endif %}
                        </tr>
                        <tr>
                          <th scope="row">Saturday</th>
                          {% if tutor.saturday %}
                          <td>{{tutor.sat_avail_start}} to {{tutor.sat_avail_end}}</td>
                          {% else %}
                          <td>Unavailable</td>
                          {% endif %}
                        </tr>
                        <tr>
                          <th scope="row">Sunday</th>
                          {% if tutor.sunday %}
                          <td>{{tutor.sun_avail_start}} to {{tutor.sun_avail_end}}</td>
                          {% else %}
                          <td>Unavailable</td>
                          {% endif %}
                        </tr>
                      </tbody>
                    </table>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              {% if user.is_student %}
              <h2>Schedule a Session</h2>
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                  </div>
                {% endfor %}
                {% endif %}
                <form action="{% url 'add-from-their-profile' %}" method="POST">
                  <div class="form-group">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-info" name="tutor" value="{{tutor.id}}">Request Selected Tutor</button>
                </div>
              </form>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}