{% extends 'mainapp/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<h1>Tutor List</h1>
<form action="{% url 'tutorSearch' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
</form>
{% if messages %}
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
{% endif %}
<form action="{% url 'add-tutor' %}" method="POST">
    {% csrf_token %}
    {% for tutor in tutors %}
        <input name="tutor" type="checkbox" value="{{tutor.id}}" href=""><a href= "{% url 'tutor-profile' tutor_id=tutor.id %}"  >{{tutor.user.username}}</a> Rate: {{tutor.hourly_rate}}</input>
    {% endfor %}
    <br>
    {{form.as_p}}
    <button type="submit">Request Selected Tutors</button>
</form>
{% endblock %}