{% extends 'mainapp/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<h1>Tutor List</h1>
<div class="input-group">
<form action="{% url 'tutorSearch' %}" method="get">
    <div class="form-group">
    <div class="form-outline">
        <input type="search" name="q" class="form-control" placeholder="Search..." />
      </div>
    </div>
</form>
</div>
    <ul class="list-group">
    {% for tutor in tutors %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between" href= "{% url 'tutor-profile' tutor_id=tutor.id %}"  >{{tutor.user.username}}
        <span class="badge badge-primary badge-pill">Rating : {{tutor.rating}}</span>
        </a>
    {% endfor %}
    </input>
{% endblock %}