{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<h3>{{tutor.user.username}}</h3>
Email : {{tutor.user.email}}<br>
Phone Number : {{tutor.phone_number}}<br>
Hourly Rate : {{tutor.hourly_rate}}
<h4>Classes</h4>
    {% for class in tutor.classes.all %}
    <li>{{class.subject}} {{class.catalog_nbr}}</li>
    {% endfor %}
<h4>Availibility</h4>
    {% if tutor.monday %}
    <li>Monday</li>
    {% endif %}
    {% if tutor.tuesday %}
    <li>Tuesday</li>
    {% endif %}
    {% if tutor.wednesday %}
    <li>Wednesday</li>
    {% endif %}
    {% if tutor.thursday %}
    <li>Thursday</li>
    {% endif %}
    {% if tutor.friday %}
    <li>Friday</li>
    {% endif %}
    {% if tutor.saturday %}
    <li>Saturday</li>
    {% endif %}
    {% if tutor.sunday %}
    <li>Sunday</li>
    {% endif %}
<h3>Times Availible</h3>
From {{tutor.avail_start}} To {{tutor.avail_end}}

<h3>Rating</h3>
{{tutor.rating}}


{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    {% endfor %}
{% endif %}
<h2>Schedule a Session</h2>
<form action="{% url 'add-from-their-profile' %}" method="POST">
    <div class="form-group">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-info" name="tutor" value="{{tutor.id}}">Request Selected Tutor</button>
    </div>
</form>

{% endblock %}